/* REGISTRATION FORM */
.select2 select {
 position: relative;
 border-radius: 25px;
 height: 50px;
 background-color: white;
}
/* REGISTRATION FORM END*/

.text-info-900 {
 color:palegreen;
 font-weight: 900;
}

.text-user .agency {
 margin-top: -15px;
}

.profile-title {
 margin-top: 10px;
 margin-left: 10px;
}

.ig p{
 margin-top: 5px;
}
.fa-file-upload {

 margin-left: 200px;
 margin-top: -50px;
 color:aquamarine;
}
.fa-file-upload:hover {

 margin-left: 200px;
 margin-top: -50px;
 color:greenyellow;
}

.input-file {
 width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.bg-gradient-rbo {
	background: rgb(58,83,180);
	background: linear-gradient(120deg, rgba(58,83,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}
